.container {
    margin: auto auto;
    &:not(.picker){    min-height: 100vh;

    }
    .picker {
        max-height: 500px;
    }
    width: 100%;
    background-color: #fff;
    padding: 20px;  
    .header {
        justify-content: space-between;
        display: flex;
        align-items: center;
        .select {
            width:120px
        }
    }  
    .image_item {
        width: 200px; 
        height: 200px;
    }
    // display: "grid",
    //       // gridAutoColumns: "170px",
    //       gridTemplateColumns: "repeat(auto-fill, minmax(200px, max-content))",

    //       columnGap: "10px",
    //       rowGap: "10px",
    //       borderTop: "1px solid #eee",
    //       marginTop: "10px",
    //       paddingTop: "10px",
    //       width: "100%",
    .imgs_container {
        text-align: center;
        & > div {
            display: inline-block;
            margin:10px;
            width: 220px;
            & img {
                width: 100%;
                height: 100%;
            }
            
        }
    }
}

@media only screen and (max-width:600px) {  
    .container {
      
       
        padding: 10px;  
        .header {
            text-align: right;
            display: block;
            .select {
                width:100%
            }
            input {
                width:100%

            }
            & > div {
                button {
                    width:100%
                }
            }
            & >  button {
               margin-top: 15px;
            }
        }  
    }
    
}
@media only screen and (max-width:430px) {  
    .container {
      
        .image_item {
            width: 100%; 
            max-width: 300px;
            margin:10px auto;
            img {
                width:100%; display: block;            max-width: 300px;

            }
        }
    }
}